4th Task - XML XSD/solvdDatabases/src/main/resources/XSD/areas.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="areas">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="area">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NameA" type="xs:string" />
              <xs:element name="NameP" type="xs:string" />
              <xs:element name="Extension" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>