4th Task - XML XSD/solvdDatabases/src/main/resources/XSD/staff.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="staffes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="staff">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="DNI"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:short" name="Salary"/>
              <xs:element type="xs:short" name="NumSegSoc"/>
              <xs:element type="xs:string" name="Address"/>
              <xs:element type="xs:int" name="phone_fijo"/>
              <xs:element type="xs:int" name="phone_mobile"/>
              <xs:element type="xs:string" name="NameP"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>